body{
    background-color: rgb(107, 136, 162);
    background-image: url("../img/bgr.png");
    background-size: cover;

    /*background-repeat:   no-repeat;
    height: 100%;
    overflow: hidden; */
    /* background-position: center center; */
}

