{% extends 'base.html' %}

{% block title %}App Home{% endblock title %}

{% block body %}
    <style>
        .outer-container{
            display: flex;
            flex-direction: column; 
            margin: 20vh 5vw;
            padding: 2vw 5vw;
            border-radius: 50px;
            background-color: rgba(240, 240, 240, 0.7);
        }
        .left-container{
            background-color: rgba(100, 240, 150, 0.5);
            display: flex;
            margin: 1vw;
            border-radius: 10px;
            padding: 50px 2vw;
            flex-direction: column;
            /* width: 40vw; */
        }
        .right-container{
            background-color: rgba(240, 100, 50, 0.5);
            display: flex;
            margin: 1vw;
            border-radius: 10px;
            padding: 50px 2vw;
        }
        .center-div{
            padding: 1vw;
            justify-content: center;
            text-align: center;
        }
        .card-row{
            display: flex;
        }

        .container {
            width: 100%; /* Adjust the width as needed */
            display: flex;
            flex-wrap: wrap;
            }

            .inner-div {
            width: 20%; /* 5 inner divs in a row */
            box-sizing: border-box;
            padding: 10px; /* Add spacing between images as needed */
            flex: 1;
            }

            img {
            width: 100%; /* Ensure images take up the full width of the inner div */
            height: auto; /* Maintain image aspect ratio */
            }
    </style>
    <div class="outer-container" id="abc1">
        <div class="center-div">
            Please select the 16 cards
        </div>
        <div style="display: flex;">
            <div class="left-container">
                <div class="container">
                    <div class="row">
                      <div class="inner-div">
                        <img src="../static/img/cards/archers.png" alt="Image 1">
                        <img src="../static/img/cards/archers.png" alt="Image 2">
                        <img src="../static/img/cards/archers.png" alt="Image 3">
                        <img src="../static/img/cards/archers.png" alt="Image 4">
                        <img src="../static/img/cards/archers.png" alt="Image 5">
                      </div>
                      
                      <div class="inner-div">
                        <img src="../static/img/cards/archers.png" alt="Image 6">
                        <img src="../static/img/cards/archers.png" alt="Image 7">
                        <img src="../static/img/cards/archers.png" alt="Image 8">
                        <img src="../static/img/cards/archers.png" alt="Image 9">
                        <img src="i" alt="Image 10">
                      </div>

                      <div class="inner-div">
                        <img src="../static/img/cards/archers.png" alt="Image 6">
                        <img src="../static/img/cards/archers.png" alt="Image 7">
                        <img src="../static/img/cards/archers.png" alt="Image 8">
                        <img src="../static/img/cards/archers.png" alt="Image 9">
                        <img src="i" alt="Image 10">
                      </div>

                      <div class="inner-div">
                        <img src="../static/img/cards/archers.png" alt="Image 6">
                        <img src="../static/img/cards/archers.png" alt="Image 7">
                        <img src="../static/img/cards/archers.png" alt="Image 8">
                        <img src="../static/img/cards/archers.png" alt="Image 9">
                        <img src="i" alt="Image 10">
                      </div>
                    </div>
                  </div>
                  
            </div>
            <div class="right-container">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nam officiis, magni quo nostrum consectetur corporis esse numquam nemo, est iste suscipit sunt, dolorem accusantium deserunt. Vel minima labore asperiores!
            </div>
        </div>
        <div class="center-div">
            <button type="button" class="btn btn-primary">Predict</button>
        </div>
    </div>
{% endblock body %}
