{% extends 'base.html' %}

{% block title %}App Home{% endblock title %}

{% block body %}
    <style>
        .outer-container{
            display: flex;
            flex-direction: column; 
            margin: 20vh 5vw;
            padding: 2vw 5vw;
            border-radius: 50px;
            background-color: rgba(240, 240, 240, 0.7);
        }
        .left-container{
            background-color: rgba(100, 240, 150, 0.5);
            display: flex;
            margin: 1vw;
            border-radius: 10px;
            padding: 50px 2vw;
            flex-direction: column;
            /* width: 40vw; */
        }
        .right-container{
            background-color: rgba(240, 100, 50, 0.5);
            display: flex;
            margin: 1vw;
            border-radius: 10px;
            padding: 50px 2vw;
        }
        .center-div{
            padding: 1vw;
            justify-content: center;
            text-align: center;
        }
        .card-row{
            display: flex;
        }

        .container {
            width: 100%; /* Adjust the width as needed */
            display: flex;
            flex-wrap: wrap;
            }

            .inner-div {
            width: 20%; /* 5 inner divs in a row */
            box-sizing: border-box;
            padding: 1vw; /* Add spacing between images as needed */
            flex: 1;
            }

            img {
            width: 100%; /* Ensure images take up the full width of the inner div */
            height: auto; /* Maintain image aspect ratio */
            }
            .clicked{
                filter: grayscale();
                /* filter: brightness(1.5); */
            }
    </style>
    <div class="outer-container" id="abc1">
        <div class="center-div">
            <h3>Please select the 16 cards</h3>
        </div>
        <div style="display: flex;">
            <div class="left-container">
              <div class="container">
                <div class="row">
                  <div class="inner-div">
                    <img src="../static/img/cards/knight.png" class="clickable-image player" id="0">
                    <img src="../static/img/cards/archers.png" class="clickable-image player" id="1">
                    <img src="../static/img/cards/goblins.png" class="clickable-image player" id="2">
                    <img src="../static/img/cards/giant.png" class="clickable-image player" id="3">
                    <img src="../static/img/cards/pekka.png" class="clickable-image player" id="4">
                    <img src="../static/img/cards/minions.png" class="clickable-image player" id="5">
                    <img src="../static/img/cards/balloon.png" class="clickable-image player" id="6">
                    <img src="../static/img/cards/witch.png" class="clickable-image player" id="7">
                    <img src="../static/img/cards/barbarians.png" class="clickable-image player" id="8">
                    <img src="../static/img/cards/golem.png" class="clickable-image player" id="9">
                    <img src="../static/img/cards/skeletons.png" class="clickable-image player" id="10">
                    <img src="../static/img/cards/valkyrie.png" class="clickable-image player" id="11">
                    <img src="../static/img/cards/skeleton-army.png" class="clickable-image player" id="12">
                    <img src="../static/img/cards/bomber.png" class="clickable-image player" id="13">
                    <img src="../static/img/cards/musketeer.png" class="clickable-image player" id="14">
                    <img src="../static/img/cards/baby-dragon.png" class="clickable-image player" id="15">
                    <img src="../static/img/cards/prince.png" class="clickable-image player" id="16">
                    <img src="../static/img/cards/wizard.png" class="clickable-image player" id="17">
                    <img src="../static/img/cards/mini-pekka.png" class="clickable-image player" id="18">
                    <img src="../static/img/cards/spear-goblins.png" class="clickable-image player" id="19">
                    <img src="../static/img/cards/giant-skeleton.png" class="clickable-image player" id="20">
                    <img src="../static/img/cards/hog-rider.png" class="clickable-image player" id="21">
                    <img src="../static/img/cards/minion-horde.png" class="clickable-image player" id="22">
                    <img src="../static/img/cards/ice-wizard.png" class="clickable-image player" id="23">
                    <img src="../static/img/cards/royal-giant.png" class="clickable-image player" id="24">
                  </div>
                  
                  <div class="inner-div">
                    <img src="../static/img/cards/guards.png" class="clickable-image player" id="25">
                    <img src="../static/img/cards/princess.png" class="clickable-image player" id="26">
                    <img src="../static/img/cards/dark-prince.png" class="clickable-image player" id="27">
                    <img src="../static/img/cards/three-musketeers.png" class="clickable-image player" id="28">
                    <img src="../static/img/cards/lava-hound.png" class="clickable-image player" id="29">
                    <img src="../static/img/cards/ice-spirit.png" class="clickable-image player" id="30">
                    <img src="../static/img/cards/fire-spirits.png" class="clickable-image player" id="31">
                    <img src="../static/img/cards/miner.png" class="clickable-image player" id="32">
                    <img src="../static/img/cards/sparky.png" class="clickable-image player" id="33">
                    <img src="../static/img/cards/bowler.png" class="clickable-image player" id="34">
                    <img src="../static/img/cards/lumberjack.png" class="clickable-image player" id="35">
                    <img src="../static/img/cards/battle-ram.png" class="clickable-image player" id="36">
                    <img src="../static/img/cards/inferno-dragon.png" class="clickable-image player" id="37">
                    <img src="../static/img/cards/ice-golem.png" class="clickable-image player" id="38">
                    <img src="../static/img/cards/mega-minion.png" class="clickable-image player" id="39">
                    <img src="../static/img/cards/dart-goblin.png" class="clickable-image player" id="40">
                    <img src="../static/img/cards/goblin-gang.png" class="clickable-image player" id="41">
                    <img src="../static/img/cards/electro-wizard.png" class="clickable-image player" id="42">
                    <img src="../static/img/cards/elite-barbarians.png" class="clickable-image player" id="43">
                    <img src="../static/img/cards/hunter.png" class="clickable-image player" id="44">
                    <img src="../static/img/cards/executioner.png" class="clickable-image player" id="45">
                    <img src="../static/img/cards/bandit.png" class="clickable-image player" id="46">
                    <img src="../static/img/cards/royal-recruits.png" class="clickable-image player" id="47">
                    <img src="../static/img/cards/night-witch.png" class="clickable-image player" id="48">
                    <img src="../static/img/cards/bats.png" class="clickable-image player" id="49">
                  </div>

                  <div class="inner-div">
                    <img src="../static/img/cards/royal-ghost.png" class="clickable-image player" id="50">
                    <img src="../static/img/cards/ram-rider.png" class="clickable-image player" id="51">
                    <img src="../static/img/cards/zappies.png" class="clickable-image player" id="52">
                    <img src="../static/img/cards/rascals.png" class="clickable-image player" id="53">
                    <img src="../static/img/cards/cannon-cart.png" class="clickable-image player" id="54">
                    <img src="../static/img/cards/mega-knight.png" class="clickable-image player" id="55">
                    <img src="../static/img/cards/skeleton-barrel.png" class="clickable-image player" id="56">
                    <img src="../static/img/cards/flying-machine.png" class="clickable-image player" id="57">
                    <img src="../static/img/cards/wall-breakers.png" class="clickable-image player" id="58">
                    <img src="../static/img/cards/royal-hogs.png" class="clickable-image player" id="59">
                    <img src="../static/img/cards/goblin-giant.png" class="clickable-image player" id="60">
                    <img src="../static/img/cards/fisherman.png" class="clickable-image player" id="61">
                    <img src="../static/img/cards/magic-archer.png" class="clickable-image player" id="62">
                    <img src="../static/img/cards/electro-dragon.png" class="clickable-image player" id="63">
                    <img src="../static/img/cards/firecracker.png" class="clickable-image player" id="64">
                    <img src="../static/img/cards/elixir-golem.png" class="clickable-image player" id="65">
                    <img src="../static/img/cards/battle-healer.png" class="clickable-image player" id="66">
                    <img src="../static/img/cards/skeleton-dragons.png" class="clickable-image player" id="67">
                    <img src="../static/img/cards/mother-witch.png" class="clickable-image player" id="68">
                    <img src="../static/img/cards/electro-spirit.png" class="clickable-image player" id="69">
                    <img src="../static/img/cards/electro-giant.png" class="clickable-image player" id="70">
                    <img src="../static/img/cards/cannon.png" class="clickable-image player" id="71">
                    <img src="../static/img/cards/goblin-hut.png" class="clickable-image player" id="72">
                    <img src="../static/img/cards/mortar.png" class="clickable-image player" id="73">
                    <img src="../static/img/cards/inferno-tower.png" class="clickable-image player" id="74">
                  </div>

                  <div class="inner-div">
                    <img src="../static/img/cards/bomb-tower.png" class="clickable-image player" id="75">
                    <img src="../static/img/cards/barbarian-hut.png" class="clickable-image player" id="76">
                    <img src="../static/img/cards/tesla.png" class="clickable-image player" id="77">
                    <img src="../static/img/cards/elixir-collector.png" class="clickable-image player" id="78">
                    <img src="../static/img/cards/x-bow.png" class="clickable-image player" id="79">
                    <img src="../static/img/cards/tombstone.png" class="clickable-image player" id="80">
                    <img src="../static/img/cards/furnace.png" class="clickable-image player" id="81">
                    <img src="../static/img/cards/goblin-cage.png" class="clickable-image player" id="82">
                    <img src="../static/img/cards/fireball.png" class="clickable-image player" id="83">
                    <img src="../static/img/cards/arrows.png" class="clickable-image player" id="84">
                    <img src="../static/img/cards/rage.png" class="clickable-image player" id="85">
                    <img src="../static/img/cards/rocket.png" class="clickable-image player" id="86">
                    <img src="../static/img/cards/goblin-barrel.png" class="clickable-image player" id="87">
                    <img src="../static/img/cards/freeze.png" class="clickable-image player" id="88">
                    <img src="../static/img/cards/mirror.png" class="clickable-image player" id="89">
                    <img src="../static/img/cards/lightning.png" class="clickable-image player" id="90">
                    <img src="../static/img/cards/zap.png" class="clickable-image player" id="91">
                    <img src="../static/img/cards/graveyard.png" class="clickable-image player" id="92">
                    <img src="../static/img/cards/the-log.png" class="clickable-image player" id="93">
                    <img src="../static/img/cards/tornado.png" class="clickable-image player" id="94">
                    <img src="../static/img/cards/clone.png" class="clickable-image player" id="95">
                    <img src="../static/img/cards/earthquake.png" class="clickable-image player" id="96">
                    <img src="../static/img/cards/barbarian-barrel.png" class="clickable-image player" id="97">
                    <img src="../static/img/cards/heal-spirit.png" class="clickable-image player" id="98">
                    <img src="../static/img/cards/giant-snowball.png" class="clickable-image player" id="99">
                  </div>
                </div>
              </div>
                  
            </div>
            <div class="right-container">
                <div class="container">
                    <div class="row">
                      <div class="inner-div">
                        <img src="../static/img/cards/knight.png" class="clickable-image opponent" id="0">
                        <img src="../static/img/cards/archers.png" class="clickable-image opponent" id="1">
                        <img src="../static/img/cards/goblins.png" class="clickable-image opponent" id="2">
                        <img src="../static/img/cards/giant.png" class="clickable-image opponent" id="3">
                        <img src="../static/img/cards/pekka.png" class="clickable-image opponent" id="4">
                        <img src="../static/img/cards/minions.png" class="clickable-image opponent" id="5">
                        <img src="../static/img/cards/balloon.png" class="clickable-image opponent" id="6">
                        <img src="../static/img/cards/witch.png" class="clickable-image opponent" id="7">
                        <img src="../static/img/cards/barbarians.png" class="clickable-image opponent" id="8">
                        <img src="../static/img/cards/golem.png" class="clickable-image opponent" id="9">
                        <img src="../static/img/cards/skeletons.png" class="clickable-image opponent" id="10">
                        <img src="../static/img/cards/valkyrie.png" class="clickable-image opponent" id="11">
                        <img src="../static/img/cards/skeleton-army.png" class="clickable-image opponent" id="12">
                        <img src="../static/img/cards/bomber.png" class="clickable-image opponent" id="13">
                        <img src="../static/img/cards/musketeer.png" class="clickable-image opponent" id="14">
                        <img src="../static/img/cards/baby-dragon.png" class="clickable-image opponent" id="15">
                        <img src="../static/img/cards/prince.png" class="clickable-image opponent" id="16">
                        <img src="../static/img/cards/wizard.png" class="clickable-image opponent" id="17">
                        <img src="../static/img/cards/mini-pekka.png" class="clickable-image opponent" id="18">
                        <img src="../static/img/cards/spear-goblins.png" class="clickable-image opponent" id="19">
                        <img src="../static/img/cards/giant-skeleton.png" class="clickable-image opponent" id="20">
                        <img src="../static/img/cards/hog-rider.png" class="clickable-image opponent" id="21">
                        <img src="../static/img/cards/minion-horde.png" class="clickable-image opponent" id="22">
                        <img src="../static/img/cards/ice-wizard.png" class="clickable-image opponent" id="23">
                        <img src="../static/img/cards/royal-giant.png" class="clickable-image opponent" id="24">
                      </div>
                      
                      <div class="inner-div">
                        <img src="../static/img/cards/guards.png" class="clickable-image opponent" id="25">
                        <img src="../static/img/cards/princess.png" class="clickable-image opponent" id="26">
                        <img src="../static/img/cards/dark-prince.png" class="clickable-image opponent" id="27">
                        <img src="../static/img/cards/three-musketeers.png" class="clickable-image opponent" id="28">
                        <img src="../static/img/cards/lava-hound.png" class="clickable-image opponent" id="29">
                        <img src="../static/img/cards/ice-spirit.png" class="clickable-image opponent" id="30">
                        <img src="../static/img/cards/fire-spirits.png" class="clickable-image opponent" id="31">
                        <img src="../static/img/cards/miner.png" class="clickable-image opponent" id="32">
                        <img src="../static/img/cards/sparky.png" class="clickable-image opponent" id="33">
                        <img src="../static/img/cards/bowler.png" class="clickable-image opponent" id="34">
                        <img src="../static/img/cards/lumberjack.png" class="clickable-image opponent" id="35">
                        <img src="../static/img/cards/battle-ram.png" class="clickable-image opponent" id="36">
                        <img src="../static/img/cards/inferno-dragon.png" class="clickable-image opponent" id="37">
                        <img src="../static/img/cards/ice-golem.png" class="clickable-image opponent" id="38">
                        <img src="../static/img/cards/mega-minion.png" class="clickable-image opponent" id="39">
                        <img src="../static/img/cards/dart-goblin.png" class="clickable-image opponent" id="40">
                        <img src="../static/img/cards/goblin-gang.png" class="clickable-image opponent" id="41">
                        <img src="../static/img/cards/electro-wizard.png" class="clickable-image opponent" id="42">
                        <img src="../static/img/cards/elite-barbarians.png" class="clickable-image opponent" id="43">
                        <img src="../static/img/cards/hunter.png" class="clickable-image opponent" id="44">
                        <img src="../static/img/cards/executioner.png" class="clickable-image opponent" id="45">
                        <img src="../static/img/cards/bandit.png" class="clickable-image opponent" id="46">
                        <img src="../static/img/cards/royal-recruits.png" class="clickable-image opponent" id="47">
                        <img src="../static/img/cards/night-witch.png" class="clickable-image opponent" id="48">
                        <img src="../static/img/cards/bats.png" class="clickable-image opponent" id="49">
                      </div>

                      <div class="inner-div">
                        <img src="../static/img/cards/royal-ghost.png" class="clickable-image opponent" id="50">
                        <img src="../static/img/cards/ram-rider.png" class="clickable-image opponent" id="51">
                        <img src="../static/img/cards/zappies.png" class="clickable-image opponent" id="52">
                        <img src="../static/img/cards/rascals.png" class="clickable-image opponent" id="53">
                        <img src="../static/img/cards/cannon-cart.png" class="clickable-image opponent" id="54">
                        <img src="../static/img/cards/mega-knight.png" class="clickable-image opponent" id="55">
                        <img src="../static/img/cards/skeleton-barrel.png" class="clickable-image opponent" id="56">
                        <img src="../static/img/cards/flying-machine.png" class="clickable-image opponent" id="57">
                        <img src="../static/img/cards/wall-breakers.png" class="clickable-image opponent" id="58">
                        <img src="../static/img/cards/royal-hogs.png" class="clickable-image opponent" id="59">
                        <img src="../static/img/cards/goblin-giant.png" class="clickable-image opponent" id="60">
                        <img src="../static/img/cards/fisherman.png" class="clickable-image opponent" id="61">
                        <img src="../static/img/cards/magic-archer.png" class="clickable-image opponent" id="62">
                        <img src="../static/img/cards/electro-dragon.png" class="clickable-image opponent" id="63">
                        <img src="../static/img/cards/firecracker.png" class="clickable-image opponent" id="64">
                        <img src="../static/img/cards/elixir-golem.png" class="clickable-image opponent" id="65">
                        <img src="../static/img/cards/battle-healer.png" class="clickable-image opponent" id="66">
                        <img src="../static/img/cards/skeleton-dragons.png" class="clickable-image opponent" id="67">
                        <img src="../static/img/cards/mother-witch.png" class="clickable-image opponent" id="68">
                        <img src="../static/img/cards/electro-spirit.png" class="clickable-image opponent" id="69">
                        <img src="../static/img/cards/electro-giant.png" class="clickable-image opponent" id="70">
                        <img src="../static/img/cards/cannon.png" class="clickable-image opponent" id="71">
                        <img src="../static/img/cards/goblin-hut.png" class="clickable-image opponent" id="72">
                        <img src="../static/img/cards/mortar.png" class="clickable-image opponent" id="73">
                        <img src="../static/img/cards/inferno-tower.png" class="clickable-image opponent" id="74">
                      </div>

                      <div class="inner-div">
                        <img src="../static/img/cards/bomb-tower.png" class="clickable-image opponent" id="75">
                        <img src="../static/img/cards/barbarian-hut.png" class="clickable-image opponent" id="76">
                        <img src="../static/img/cards/tesla.png" class="clickable-image opponent" id="77">
                        <img src="../static/img/cards/elixir-collector.png" class="clickable-image opponent" id="78">
                        <img src="../static/img/cards/x-bow.png" class="clickable-image opponent" id="79">
                        <img src="../static/img/cards/tombstone.png" class="clickable-image opponent" id="80">
                        <img src="../static/img/cards/furnace.png" class="clickable-image opponent" id="81">
                        <img src="../static/img/cards/goblin-cage.png" class="clickable-image opponent" id="82">
                        <img src="../static/img/cards/fireball.png" class="clickable-image opponent" id="83">
                        <img src="../static/img/cards/arrows.png" class="clickable-image opponent" id="84">
                        <img src="../static/img/cards/rage.png" class="clickable-image opponent" id="85">
                        <img src="../static/img/cards/rocket.png" class="clickable-image opponent" id="86">
                        <img src="../static/img/cards/goblin-barrel.png" class="clickable-image opponent" id="87">
                        <img src="../static/img/cards/freeze.png" class="clickable-image opponent" id="88">
                        <img src="../static/img/cards/mirror.png" class="clickable-image opponent" id="89">
                        <img src="../static/img/cards/lightning.png" class="clickable-image opponent" id="90">
                        <img src="../static/img/cards/zap.png" class="clickable-image opponent" id="91">
                        <img src="../static/img/cards/graveyard.png" class="clickable-image opponent" id="92">
                        <img src="../static/img/cards/the-log.png" class="clickable-image opponent" id="93">
                        <img src="../static/img/cards/tornado.png" class="clickable-image opponent" id="94">
                        <img src="../static/img/cards/clone.png" class="clickable-image opponent" id="95">
                        <img src="../static/img/cards/earthquake.png" class="clickable-image opponent" id="96">
                        <img src="../static/img/cards/barbarian-barrel.png" class="clickable-image opponent" id="97">
                        <img src="../static/img/cards/heal-spirit.png" class="clickable-image opponent" id="98">
                        <img src="../static/img/cards/giant-snowball.png" class="clickable-image opponent" id="99">
                      </div>
                    </div>
                  </div>

            </div>
        </div>
        <!-- <div class="center-div">
            <button type="button" class="btn btn-primary" id="predict_button"  name="csrfmiddlewaretoken" value="{% csrf_token %}">{% csrf_token %} Predict</button>
            <input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}">
        </div> -->
        <div class="center-div">
            <form method="post" id="card-form" action="/result">
                {% csrf_token %}
                <input type="hidden" name="cards"/>
                <input type="hidden" name="rcards"/>
                <input type="hidden" name="dummy" value="orange"/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <script>
        let cardIndices = []
        let opponentCardIndices = []

        const clickableImages = document.querySelectorAll('.clickable-image');
            clickableImages.forEach(image => {
            image.addEventListener('click', () => {
                const imageId = image.getAttribute('id');
                console.log(imageId)
                if(image.classList.contains('player')){
                  const isPresent = cardIndices.includes(imageId)
                  // console.log(isPresent)
                  // if(cardIndices.length >= 8)alert("Decks cannot have more than 8 cards");
                  // else{
                  //   image.classList.toggle('clicked');
                  //   if(isPresent)cardIndices.splice(cardIndices.indexOf(imageId), 1)
                  //   else cardIndices.push(imageId)
                  // }
                  if(isPresent){
                    cardIndices.splice(cardIndices.indexOf(imageId), 1)
                    image.classList.toggle('clicked');
                  }
                  else{
                    if(cardIndices.length >= 8)alert("Your Deck cannot have more than 8 cards");
                    else{
                      cardIndices.push(imageId)
                      image.classList.toggle('clicked');
                    }
                  }
                }
                else{
                  const isPresent = opponentCardIndices.includes(imageId)
                  if(isPresent){
                    opponentCardIndices.splice(opponentCardIndices.indexOf(imageId), 1)
                    image.classList.toggle('clicked');
                  }
                  else{
                    if(opponentCardIndices.length >= 8)alert("Opponent's Deck cannot have less than 8 cards");
                    else{
                      opponentCardIndices.push(imageId)
                      image.classList.toggle('clicked');
                    }
                  }
                }
                console.log(cardIndices)
                console.log(opponentCardIndices)
            });
        });
        document.getElementById('card-form').onsubmit = function(){
          if(opponentCardIndices.length != 8){
            alert("Opponent's Deck must have exactly 8 cards");
            return false;
          }
          if(cardIndices.length != 8){
            alert("Your Deck must have exactly 8 cards");
            return false;
          }
          this.elements.cards.value = cardIndices;
          this.elements.rcards.value = opponentCardIndices;
          return true;
        }

        let cardNames = ['knight', 'archers', 'goblins', 'giant', 'p.e.k.k.a',
        'minions', 'balloon', 'witch', 'barbarians', 'golem',
        'skeletons', 'valkyrie', 'skeleton-army', 'bomber', 'musketeer',
        'baby-dragon', 'prince', 'wizard', 'mini-p.e.k.k.a', 'spear-goblins',
        'giant-skeleton', 'hog-rider', 'minion-horde', 'ice-wizard', 'royal-giant',
        'guards', 'princess', 'dark-prince', 'three-musketeers', 'lava-hound',
        'ice-spirit', 'fire-spirits', 'miner', 'sparky', 'bowler', 'lumberjack',
        'battle-ram', 'inferno-dragon', 'ice-golem', 'mega-minion', 'dart-goblin',
        'goblin-gang', 'electro-wizard', 'elite-barbarians', 'hunter', 'executioner',
        'bandit', 'royal-recruits', 'night-witch', 'bats', 'royal-ghost', 'ram-rider',
        'zappies', 'rascals', 'cannon-cart', 'mega-knight', 'skeleton-barrel', 'flying-machine',
        'wall-breakers', 'royal-hogs', 'goblin-giant', 'fisherman', 'magic-archer', 'electro-dragon',
        'firecracker', 'elixir-golem', 'battle-healer', 'skeleton-dragons', 'mother-witch', 'electro-spirit',
        'electro-giant', 'cannon', 'goblin-hut', 'mortar', 'inferno-tower', 'bomb-tower', 'barbarian-hut',
        'tesla', 'elixir-collector', 'x-bow', 'tombstone', 'furnace', 'goblin-cage', 'fireball', 'arrows',
        'rage', 'rocket', 'goblin-barrel', 'freeze', 'mirror', 'lightning', 'zap', 'poison', 'graveyard',
        'the-log', 'tornado', 'clone', 'earthquake', 'barbarian-barrel', 'heal-spirit', 'giant-snowball',
        'royal-delivery']


    </script>

{% endblock body %}
